@charset "UTF-8";

/* WC Default Style
 * =================================================================================
**/

img[src*="analytics.global-websystem.net"]{
    display: none;
}

img[src*="spacer.gif"]{
    width: 1px;
    height: 1px;
}


/* END WC Default Style
 * =================================================================================
**/